<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>home</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />
        <b:container>
            <div class="rightPlus">
                <h1 class='header'>All Posts</h1>
                <h:form>
                    <b:row>
                        <h:button value="Export All Posts" class="btn btn-info bg-primary"
                                  rendered="#{accountController.logined}"
                                  onclick="window.open('#{accountController.restBaseUri}' + 'all')">
                        </h:button>
                        <span/>
                        <b:commandButton value="Filter By Lastest" look="info"
                                         rendered="#{accountController.logined and accountController.subscribed}"
                                         action="#{postController.loadPostsByLatest}" />
                        <span/>
                        <b:commandButton value="Filter By Lowest Rent" look="info"
                                         rendered="#{accountController.logined and accountController.subscribed}"
                                         action="#{postController.loadPostsByLowestRent}" />
                    </b:row>
                </h:form>
            </div>

            <br/>
            <h:dataTable  class="table table-hover table-fontsize" var="post" value="#{postController.posts}">
                <h:column>
                    <f:facet name="header">
                        PostId
                    </f:facet>
                    <h:outputText value="#{post.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Title
                    </f:facet>
                    <h:link outcome="details" value="#{post.title}">
                        <f:param name="post" value="#{post.id}"/>
                    </h:link>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Details
                    </f:facet>
                    <h:outputText value="#{post.detail}">
                    </h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Rent
                    </f:facet>
                    <h:outputText value="#{post.rent}">
                        <f:convertNumber currencySymbol="$" type="currency"/>
                    </h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Location
                    </f:facet>
                    <h:outputText value="#{post.suburb}">
                    </h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Publish Date
                    </f:facet>
                    <h:outputText value="#{post.date}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </h:column>
                <!--                <h:column>
                                    <f:facet name="header">
                                        Top Date
                                    </f:facet>
                                    <h:outputText value="#{post.topDate}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </h:column>-->
                <h:column>
                    <f:facet name="header">
                        Publisher
                    </f:facet>
                    <h:outputText value="#{post.customer.id}"/>
                </h:column>
            </h:dataTable>
        </b:container>
    </h:body>
</html>