<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>my record</title>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml" />

        <b:container>
            <div class="rightPlus">
                <h1 class='header'>My Record</h1>
                <b:button class="btn btn-info btn-lg" value="Create"
                          outcome="post" look="info" icon="glyphicon glyphicon-edit">
                </b:button>
                <span></span>
                <h:button class="btn btn-info btn-lg" value="Export"
                          onclick="window.open('#{accountController.restBaseUri}' + '#{request.remoteUser}')"/>
            </div>
            <br></br>

            <h:dataTable columnClasses="column1,column2,column3,column4,column5"
                         class="table table-hover table-fontsize"
                         var="post" value="#{postController.myPosts}">
                <h:column>
                    <f:facet name="header">
                        PostId
                    </f:facet>
                    <h:outputText value="#{post.id}"></h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Title
                    </f:facet>
                    <h:outputText value="#{post.title}"></h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Location
                    </f:facet>
                    <h:outputText value="#{post.suburb}"></h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Publisher
                    </f:facet>
                    <h:outputText value="#{post.customer.id}"></h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Publish Date
                    </f:facet>
                    <h:outputText value="#{post.date}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Edit
                    </f:facet>
                    <b:button class="btn btn-default btn-sm" icon="glyphicon glyphicon-pencil" outcome="update" value="">
                        <f:param name="post" value="#{post.id}"/>
                    </b:button>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Delete
                    </f:facet>
                    <h:form>
                        <h:commandLink class="btn btn-default btn-sm"
                                       action="#{postController.deletePost(post.id)}" value="">
                            <span class="glyphicon glyphicon-trash"/>
                        </h:commandLink>
                    </h:form>
                </h:column>
                <h:column rendered="#{accountController.subscribed}">
                    <f:facet name="header">
                        Top
                    </f:facet>
                    <h:form>
                        <h:commandLink class="btn btn-default btn-sm"
                                       action="#{postController.topPost(post.id)}" value="">
                            <span class="glyphicon glyphicon-arrow-up"/>
                        </h:commandLink>
                    </h:form>
                </h:column>
            </h:dataTable>
            <h:messages styleClass="alert alert-danger" errorStyle="color:red;" infoStyle="color:blue;"/>
        </b:container>
    </h:body>
</html>

